extends base

block content 
  main.main#users-section
    h2.heading-secondary.ma-bt-md All Users
    //-  user.missingReportedPersons
    if users.length > 0
      .users-container
        each user in users
          .user-card
            img.user-card__photo(src=`/img/users/${user.photo}`, alt=`${user.name}'s Photo`)
            h3.user-card__name #{user.name}
            p.user-card__location= `From: ${user.location.city}, ${user.location.country}`
            .user-card__btn-box 
              a.user-card__btn(href=`/users/${user._id}`)
                i.fa-solid.fa-user-pen  
                | Make Admin
              a.user-card__btn(href=`/persons/${user._id}`)
                i.fa-solid.fa-trash  
                | Delete
            //- a.user-card__btn-detail(href=`/api/v1/users/${user._id}`) Details
    else 
      .users-container__no-users
        p.users-container__no-users-text
          | You have no found persons yet!
        p.users-container__no-users-text  
          | Please add a new Person here 
          a.users-container__no-users-link(href="http://127.0.0.1:800/report-found-user", class="users-container__link") Add New Person
