extends base 

block append head
  link(rel="stylesheet", href="/css/contact.css")

block content 
  main.main.main-contact-page
    section.contact-header
      h1 Contact Us
      p We are here to assist you with any inquiries or concerns.
      p Please reach out to us and we will get back to you as soon as possible.

    section.contact-map
      iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26723.701778870887!2d73.70896951083984!3d33.149477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fec085ec688ef%3A0xd988766d3ccdd31c!2sMirpur%20University%20of%20Science%20and%20Technology%20(MUST)!5e0!3m2!1sen!2s!4v1723055726825!5m2!1sen!2s",
        frameborder="0",
        style="border:0;",
        allowfullscreen="",
        aria-hidden="false",
        loading="lazy",
        referrerpolicy="no-referrer-when-downgrade",
        tabindex="0")

    section.contact-details
      .contact-info
        .address
          a(href="https://maps.google.com/?q=123+Main+Street,+Anytown,+USA" target="_blank")
            i.fa-solid.fa-map-location-dot
            span College Rd, New Mirpur City, AJ & K 10250
        .phone
          a(href="tel:+923411080082")
            i.fa.fa-phone
            span +92 (341) 1080082
        .whatsapp
          a(href="https://wa.me/03411080082")
            i.fa-brands.fa-whatsapp
            span +92 (341) 1080082
        .email
          a(href="mailto:muhammadugv66@gmail..com")
            i.fa-regular.fa-envelope
            span muhammadugv66@gmail.com
        .social
          a(href="https://github.com/muhammad-ahmad66/" target="_blank")
            i.fa-brands.fa-github
          a(href="https://codepen.io/Muhammad-Ahmad-WebDeveloper" target="_blank")
            i.fa-brands.fa-codepen
          a(href="https://www.linkedin.com/in/muhammad-ahmad66-web-developer-and-designer/" target="_blank")
            i.fa-brands.fa-linkedin
          a(href="https://instagram.com" target="_blank")
            i.fa-brands.fa-instagram

      .contact-form
        form(action="#", method="post")
          .form-group
            label(for="name") Name:
            input(type="text", id="name", name="name", placeholder="Enter your name")
          .form-group
            label(for="email") Email:
            input(type="email", id="email", name="email", placeholder="Enter your email")
          .form-group
            label(for="subject") Subject:
            input(type="text", id="subject", name="subject", placeholder="Enter the subject")
          .form-group
            label(for="message") Message:
            textarea(id="message", name="message", rows="5", placeholder="Enter your message")
          button.btn(type="submit") Submit
