extends base

block content 
  section.section.section-top
    .container.container-top-section
      h1.text-lft.heading-primary
        span.heading-primary--main Search the currently
        |           
        span.heading-primary--sub missing people 

      .upload-image-box 
        section.image-upload-section
          h2 Search by Image
          #drop-area.drop-area
            p Drag &amp; Drop your image here or
            input#fileElem(type='file' accept='image/*' onchange='handleFiles(this.files)')
            label.button(for='fileElem') Choose a file
            span#fileLabel No file chosen
          #preview      
    //- .search-row
    //-   form.nav__search
    //-     button.nav__search-btn
    //-       i.ph.ph-magnifying-glass
    //-     |           
    //-     input.nav__search-input(type='text', placeholder='Search Person Name')    
    .search-row
      form.nav__search#searchForm(action="/api/v1/persons/search", method="GET")
        button.nav__search-btn(type="submit")
          i.ph.ph-magnifying-glass
        input.nav__search-input(type="text", placeholder="Search Person Name", id="search-person-name" name="name")
        button.btn-search#btn-search(type="submit") Search

      form.nav__filter
        select.nav__search-select(name='sort', id="sort-by")
          option(value='') Sort by
          option(value='name') Sort by Name
          option(value='age') Sort by Age
          // Add other sorting options as needed

        select.nav__search-select(name='approxAge', id="approxAge")
          option(value='') Approx. Age
          option(value='1,20') less then 20
          option(value='20,45')  between 20 and 45
          option(value='45,70')  between 45 and 70
          option(value='70,120')  greater than 70
          // Add other sorting options as needed

        select.nav__search-select(name='country', id='filter-country')
          option(value='') Filter by Area
          option(value='usa') USA
          option(value='uk') UK
          option(value='pakistan') Pakistan
          option(value='india') India
          // Add other country filter options as needed

        select.nav__search-select(name='gender', id='filter-gender')
          option(value='') Gender filter
          option(value='male') Male
          option(value='female') Female
          option(value='non-binary') Non-binary
          // Add other city filter options as needed

        //- button.btn-search#btn-filter(type="submit") Apply filters

        // Add more filter options as needed (e.g., missing since, gender, etc.)
    
    if(query.approxAge)
      p.paragraph.paragraph-query-info Displaying results for ages between 
        b #{query.approxAge.gte} 
        | and 
        b #{query.approxAge.lte}

    if(query.sort)
      p.paragraph.paragraph-query-info Displaying sorted results by the 
       b #{query.sort} 
       | field.

    if(query.country)
      p.paragraph.paragraph-query-info Displaying results for the Country name 
       b= `${query.country[0].toUpperCase()}${query.country.slice(1)}`

    if(query.gender)
      p.paragraph.paragraph-query-info Displaying results for the Gender 
       b= `${query.gender[0].toUpperCase()}${query.gender.slice(1)}`

    if(name)
      p.paragraph.paragraph-query-info Displaying results for the Name 
        b= `${name.toUpperCase()}`
    


  main.main
    .card-container
      - const totalPersons = persons.length;
      each person in persons
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              |               
              //- img.card__picture-img(src='/img/users/default.jpg', alt=`${person.firstName} Photo`)
              img.card__picture-img(src=`/img/persons/${person.photo}`, alt=`${person.name} Photo`)
          |           
          .card__details
            h4.card__sub-heading= `${person.name}`
            |             
            p.card__text= `${person.clothingDescription} ${person.additionalDetails}`
            |             
            .card__data 
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              |               
              span= `${person.city}, ${person.country}`
            |             
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              |

              //- span= person.lastSeenDate.toLocaleString('en-us',{day:'numeric', month: 'long', year: 'numeric'})
              - if (person.lastSeenDate)
                span= person.lastSeenDate.toLocaleString('en-us',{day:'numeric', month: 'long', year: 'numeric'})
              - else
                span Last seen date not available
            |             
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-clock')
              |               
              span= person.foundAt.toLocaleString('en-us', {hour:'numeric',minute:'numeric'})
            |             
            //- .card__data
            //-   svg.card__icon
            //-     use(xlink:href='img/icons.svg#icon-user')
            //-   |               
            //-   span 25 people
          |           
          .card__footer
            //- p
            //-   span.card__footer-value gender: 
            //-   |               
            //-   span.card__footer-text= person.gender
            //- |             
            //- p.card__ratings
            //-   span.card__footer-value Approx Age: 
            //-   |               
            //-   span.card__footer-text= person.approxAge
            //- |             
            a.btn.btn--green.btn--small(href=`/persons/${person._id}`) Details
    .btn-container
      - const totalPages = Math.ceil(totalResults / 8);
      - const firstPage = 1;
      - const lastPage = totalPages;

      if page > firstPage
        a.btn.btn--small.btn--green.btn-prev(href=`?page=${page - 1}`)
          i.fa-solid.fa-arrow-left
      if page < lastPage
        a.btn.btn--small.btn--green.btn-next(href=`?page=${page + 1}`)
          i.fa-solid.fa-arrow-right